.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
    margin-bottom: 60px;
    border: 5px solid #000;
    border-radius: 20px;
    background-color: #fafafa;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.image {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 50%;
    background: #2a2a2a;
}
.name {
    margin-bottom: 15px;
    color: #000;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
.tag {
    margin-bottom: 15px;
    color: #7c7c7c;
    font-size: 40px;
}
.location {
    color: #7c7c7c;
    font-size: 40px;
    text-align: center;
}
.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 5px solid #808080;
}
.stats li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    border-color: #808080;
    border-bottom: 5px solid #808080;
    background-color: #d3d3d3;
}
.stats li:last-child {
    border-bottom: none;
}
.stats li span {
    color: #000;
    font-size: 30px;
    text-align: center;
}
.stats li span:nth-child(2) {
    font-weight: 700;
}
@media screen and (min-width: 575px) {
    .image {
        width: 400px;
    }
    .friends-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .friends-list li {
        width: calc((100% - 30px) / 2);
    }
}
@media screen and (min-width: 767px) {
    .stats {
        flex-direction: row;
    }
    .stats li {
        border-right: 5px solid #808080;
        border-bottom: none;
    }
    .stats li:last-child {
        border-right: none;
    }
    .stats li span {
        font-size: 30px;
    }
}
@media screen and (min-width: 991px) {
    .friends-list li {
        width: calc((100% - 30px * 2) / 3);
    }
}
@media screen and (min-width: 1199px) {
    .profile {
        max-width: 1060px;
        margin-bottom: 60px;

        padding-top: 40px;
    }
    .info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        padding: 0;
    }
    .image {
        width: 400px;
        margin-bottom: 40px;
        border-radius: 50%;
    }
    .name {
        margin-bottom: 22px;
        font-weight: 700;
        font-size: 80px;
    }
    .tag {
        margin-bottom: 5px;
        font-size: 68px;
    }
    .location {
        font-size: 68px;
    }
    .stats {
        justify-content: space-between;
        border-top: 5px solid #808080;
    }
    .stats li {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 40px 0;
        border-right: 5px solid #808080;
    }
    .stats li:last-child {
        border-right: none;
    }
    .stats li span {
        font-size: 60px;
    }
}
@media screen and (min-width: 1440px) {
}
