.friends-list{display:flex;flex-direction:column;gap:30px;justify-content:center;margin-bottom: 40px;}
.friends-list li{width:100%}
@media screen and (min-width:575px){
.friends-list{flex-direction:row;flex-wrap:wrap}
.friends-list li{width:calc((100% - 30px) / 2)}
}
@media screen and (min-width:767px){

}
@media screen and (min-width:991px){
.friends-list li{width:calc((100% - 30px * 2) / 3)}
}
@media screen and (min-width:1199px){

}
@media screen and (min-width:1440px){
.friends-list li{width:calc((100% - 30px * 4) / 5)}
}